<% provide(:title, @user.name) %>
<!--Displays all movements and user info-->
<div class='row'>
    <aside class='col-md-12' id="border">
      <section class='user_info'>
        <h1>
         <%= gravatar_for @user %>
         <%= @user.name %>
          <p id="user_description">
            Is a web developer trying to create tools to extend human cooperation, empathy and education.
          </p>
        </h1>


        <div id="user_movements">
          <% if @user.movements.any? %>
              <h2>Started (<%= @user.movements.count %>) Movements</h2>
              <ul class="movements">
                <%= render @movements %>
              </ul>
              <%= will_paginate @movements %>
              <% end %>
        </div>
      </section>
    </aside>
</div>

<div class="container user_map_info">
  <div class="row">
    <div class="col-md-12 block-center">
      <%= form_tag(new_movement_path, method: "get") do %>
          <%= label_tag(:place, "Starting Location") %>
          <%= text_field_tag(:place) %>
          <%= submit_tag("Start a new Movement!") %>
      <% end %>
    </div>
  </div>

  <center>
  <div class="col-md-10 col-md-offset-1 block-center">
    <!--<div class="map_display_outer">-->
     <div id="map" class="map_display_inner"></div>
    <!--</div>-->
  </div>
  </center>
</div>

<script src="//maps.google.com/maps/api/js?v=3.18&sensor=false&client=&key=&libraries=geometry&language=&hl=&region="></script>
<script src="//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js"></script>

<script type="text/javascript">
  function initMap() {
    // Create the map.
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 7,
      center: {lat: 39, lng: -98},
      mapTypeId: google.maps.MapTypeId.ROADMAP
    });

    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(function(position) {
        var pos = {
          lat: position.coords.latitude,
          lng: position.coords.longitude
        };
        map.setCenter(pos);
      })
    }

    var bounds = new google.maps.LatLngBounds();

    // Construct the circle for each value in citymap.
    // Note: We scale the area of the circle based on the population.

    <% Movement.all.each do |movement| %>
    var c_<%=movement.id%> = new google.maps.Circle({
      strokeColor: '#FF0000',
      strokeOpacity: 0.8,
      strokeWeight: 2,
      center: {lat: <%=movement.center_lat%>, lng: <%=movement.center_long %>},
      fillColor:'#6ecdff',
      fillOpacity: <%= movement.movement_strength%>,
      map:map,
      radius: <%=movement.zoom%>,
      editable:false});

    bounds.union(c_<%=movement.id%>.getBounds());



    var contentString<%=movement.id%> = '<h2> <%=movement.name%></h2>' + '<p><%=movement.desc%> <p>' +'<%= link_to "see movement", movement %>';


    var infowindow<%=movement.id%> = new google.maps.InfoWindow({
      content: contentString<%=movement.id%>
    });


    c_<%=movement.id%>.addListener('click', function() {
      console.log("hey i got clicked")
      console.log(c_<%=movement.id%>.latLng)
      infowindow<%=movement.id%>.open(map,c_<%=movement.id%>.latLng);
    });

    <% end %>

    map.fitBounds(bounds);
    console.log(bounds);
  }

  initMap()
</script>